#izzyPokemonPC {
  --fullCard: span 3;
  max-width: 658px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: row dense;
  grid-auto-rows: 110px;

  * {
    box-sizing: border-box;
  }

  pokeslot {
    --color: rgba(189,189,189,.49);
    width: 100%;
    padding: 6px 10px 10px;
    border-radius: 5px;
    position: relative;

    &:not(.stored) {
      grid-row: var(--fullCard);
      background: var(--color);
    }
  }

  pokesprites {
    display: block;
    position: absolute;

    pokeimg {
      display: flex;
      justify-content: center;
      width: 100px;
      margin-left: -4px;
      height: 100px;
      border: 4px solid var(--color);
      border-radius: 100%;
      background: white;
    }

    pokeball,
    pokeitem {
      display: flex;
      justify-content: center;
      width: 30px;
      border: 3px solid var(--color);
      height: 30px;
      top: 74px;
      border-radius: 100%;
      background: white;
      position: absolute;
    }

    .hideMe {
      display: none;
    }

    pokeball {
      left: 1px;
    }

    pokeitem {
      right: 5px;
      bottom: 0;
    }

    img {
      align-self: center;
      max-width: 100%;
      height: auto;
    }
  }

  pokeinfo {
    display: block;
    margin: 7px 0 13px 65px;

    pokelink,
    pokename,
    pokesub {
      padding: 0 0 0 30px;
      display: grid;
      align-content: center;
      height: 26px;
      margin: 3px 0;
      text-align: center;
      background: white;
      border-radius: 0 5px 5px 0;
      width: 100%;
      text-transform: uppercase;
    }

    pokename {
      font-weight: bolder;
    }
  }

  .hiddenInfo {
    display: grid;
    height: calc(100% - 108px);
    grid-template-columns: 90px 1fr;
    grid-gap: 8px;
    grid-template-rows: 1fr;
  }

  pokestats {
    display: grid;

    .pokeAbility,
    .pokeMove,
    poketype {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border-radius: 5px;
      margin: 3px 0;
      text-align: center;
    }

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    poketype {}

    .pokeAbility {}

    a.pokeMove {
      background-color: #bbb;
      color: white;

      &.Psychic {
        background: #F85888;
      }

      &.Poison {
        background: #A040A0;
      }

      &.Bug {
        background: #A8B820;
      }

      &.Dark {
        background: #705848;
      }

      &.Dragon {
        background: #7038F8;
      }

      &.Electric {
        background: #F8D030;
      }

      &.Fairy {
        background: #EE99AC;
      }

      &.Fighting {
        background: #C03028;
      }

      &.Fire {
        background: #F08030;
      }

      &.Flying {
        background: #A890F0;
      }

      &.Ghost {
        background: #705898;
      }

      &.Grass {
        background: #78C850;
      }

      &.Ground {
        background: #E0C068;
      }

      &.Ice {
        background: #98D8D8;
      }

      &.Normal {
        background: #A8A878;
      }

      &.Rock {
        background: #B8A038;
      }

      &.Steel {
        background: #B8B8D0;
      }

      &.Water {
        background: #6890F0;
      }
    }
  }

  pokedescription {
    width: 100%;
    background: white;
    border-radius: 5px;
    margin: 2px 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    white-space: pre-line;
  }

  .stored {
    --color: rgba(110,110,110,.63);
    grid-row: span 1;
    background: var(--color);
    cursor: pointer;

    &.open {
      grid-row: var(--fullCard);
    }

    &:not(.open) .hiddenInfo {
      display: none;
    }
  }
}
